@import '../../Colors.scss';

.Footer {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;

}

.FooterLeft {
    display: flex;
    width: 60%;
    height: 100%;
} 

.FooterRight {
    display: flex;
    width: 40%;
    height: 100%;
    background-color: $liver;
}