.Home {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid black;

}

.PhotoHome {
    position: relative;
    top: -20px;
    width: 50%;
    z-index: -1;
    
}

.MainLeft {
    display: flex;
    width: 50%;
    height: 100%;
    border: 2px solid white;
}

.MainRight {
    display: flex;
    width: 50%;
    height: 100%;
    border: 1px solid white;
}