@import '../../Colors.scss';

@font-face {
    font-family: Heaters;
    src: url('../../assets/fonts/Heaters.otf');
  }

.Products {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 1px solid white;
}

.TitleProducts {
    font-family: 'Fredoka One', cursive;
    font-size: 2em;
    color: $champagne;
}