@import '../../../Colors.scss';

.ProductDetail {
    display: flex;
    width: 100%;
    height: 100%;
}

.MainLeft {
    display: flex;
    width: 50%;
    height: 100%;
    padding: 2em;

}

.MainRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Arvo',sans-serif;
    padding: 2em;
}

.carousel {
    display: flex;
    width: 100%;
    height: 100%;
}

.ProductName {
    font-weight: 700;
    font-size: 3em;
    color: $champagne;
    margin: 0px;
}

.ProductDescription {
    font-weight: 200;
    color: $crayola;
    margin: 0px;
    width: 50%;
    padding-top: 1em;
    border-top: 2px solid $crayola;
}

.ProductPrice {
    font-size: 2em;
    font-weight: 700;
    margin: 0px;
}

.AddCart {
    background-color: transparent;
    border: 2px solid $crayola;
    color: $crayola;
    margin-bottom: 2em;
}