@import '../../Colors.scss';

.Header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    // height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    opacity: 0.8;
}

.Logo {
    display: flex;
    width: 20%;
    height: 100%;
   
}

.NavButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    height: 100%;
    z-index: 3;
    border-bottom: 2px solid $interorange;

    
    a {
        all: unset;
        font-size: 0.8em;
        color: $crayola;
        font-family: 'Arvo', serif;
        padding-left: 1em;
        letter-spacing: 2px;
        font-weight: 700;
        cursor: pointer;
    } 
}

.Login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    height: 100%;

    a {
        all: unset;
        font-size: 0.8em;
        color: $champagne;
        font-family: 'Arvo', serif;
        letter-spacing: 2px;
        font-weight: 700;
        padding-right: 20px;
        cursor: pointer;
    } 
    
}

