@import '../../Colors.scss';

.Filter {
   
    width: 100%;
    height: 100%;
    background-color: $skobeloff;
    background-size: cover;
    z-index: -2;
    mix-blend-mode: multiply;
   
}

.Background {
    
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    filter: grayscale(100%);
    mix-blend-mode: darken;
  
}

.Pattern {
    // background-image: url('images/skate-pattern-01.jpg');
    background-size: cover;
}